//- extends manager_Layout
block content 
  head
    title MWF Manager Dashboard
    link(rel='stylesheet' href='/css/dashboard.css')
  nav.sidebar
    h2 MWF Manager
    ul
        li: a(href="/") landing 
        li: a(href="/registeredFurniture") Furniture Records
        li: a(href="/users") Users
        li: a(href="/registeredWood") Wood Records
        li: a(href="/registerWood") Add woodstock
        li: a(href="/registerFurniture") Add furniture
        li: a(href="/logout") Logout   
  main.main-content
    header
      h1 Welcome, Manager
      p Monitor company performance and stock overview
    section.cards
      .card
        h3 Total Expenses
        p #{ new Intl.NumberFormat().format(woodExpenses)} UGX
      .card
        h3 Total Revenue
        p #{new Intl.NumberFormat().format(totalRevenue)} UGX
      .card
        h3 Profits
        p #{new Intl.NumberFormat().format(grossProfit)} UGX
      .card
        h3 Total  Harwood Expenses 
        p Total Expense on hardwood: #{new Intl.NumberFormat().format(totalHardwood.totalCost)} UGX
      .card 
        h3 Total Hardwood in stock
        p  Qty  of Hardwood in stock:#{new Intl.NumberFormat().format(totalHardwood.totalQuantity)} Pieces
      .card
        h3 Total  softwood Expenses 
        p Total Expense on softwood: #{new Intl.NumberFormat().format(totalsoftwood.totalCost)} UGX
      .card
        h3 Total softwood in stock
        p Qty  of softwood in stock:#{new Intl.NumberFormat().format(totalsoftwood.totalQuantity)} Pieces
      .card
        h3 Timber expense
        p Total Expense on Timber: #{new Intl.NumberFormat().format(totalTimber.totalCost)} tUGX
      .card
        h3 Timber  Stock
        p Qty  of Timber in stock:#{new Intl.NumberFormat().format(totalTimber.totalQuantity)} Pieces
      .card
        h3 Poles expense
        p Total Expense on Poles: #{new Intl.NumberFormat().format(totalPoles.totalCost)} UGX
      .card
        h3 Poles Stock
        p Qty  of Poles in stock:#{new Intl.NumberFormat().format(totalPoles.totalQuantity)} Pieces
 
